force-app/main/default/flows/Cloudfiles_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Attach_the_folders_to_the_Account_Record</name>
        <label>Attach the folders to the Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>cldfs__CreateAttachment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>driveId</name>
            <value>
                <elementReference>DriveID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>library</name>
            <value>
                <elementReference>Library</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resourceId</name>
            <value>
                <elementReference>Create_Account_Folder.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resourceType</name>
            <value>
                <stringValue>folder</stringValue>
            </value>
        </inputParameters>
        <nameSegment>cldfs__CreateAttachment</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Account_Folder</name>
        <label>Create Account Folder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>cldfs__CreateFolder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Subfolder_for_Invoices</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>driveId</name>
            <value>
                <elementReference>DriveID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>All files for {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>library</name>
            <value>
                <elementReference>Library</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>ParentFolderID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cldfs__CreateFolder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Agreements_Sub_Folder</name>
        <label>Create Agreements Sub-Folder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>cldfs__CreateFolder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Attach_the_folders_to_the_Account_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>driveId</name>
            <value>
                <elementReference>DriveID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Agreements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>library</name>
            <value>
                <elementReference>Library</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>Create_Account_Folder.id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cldfs__CreateFolder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Subfolder_for_Invoices</name>
        <label>Create Subfolder for Invoices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>cldfs__CreateFolder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Agreements_Sub_Folder</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>driveId</name>
            <value>
                <elementReference>DriveID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Invoices</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>library</name>
            <value>
                <elementReference>Library</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>Create_Account_Folder.id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cldfs__CreateFolder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <constants>
        <name>DriveID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>mydrive</stringValue>
        </value>
    </constants>
    <constants>
        <name>Library</name>
        <dataType>String</dataType>
        <value>
            <stringValue>google</stringValue>
        </value>
    </constants>
    <constants>
        <name>LIbraryName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GoogleDrive</stringValue>
        </value>
    </constants>
    <constants>
        <name>ParentFolderID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1blpHVffFawJViRQ_RIqZbWVVVR4AQf1p</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Cloudfiles - Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cloudfiles - Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Create_Account_Folder</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
